<!DOCTYPE html>
<html>

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="keywords" content="ignition, reads, ignitionreads, just4reads, motivational, inspirational">
    <meta name="description" content="On a mission to impart a positive influence on the culture while defending the truth in love and a way that honors God.">
    <meta name="author" content="Victor Shaviya">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font-awesome reference point -->


    <!-- CDN link for Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom CSS -->


    <!-- The Favicon placement point -->


  </head>
  <body>
    



    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>

</html>