<!DOCTYPE html>
<html>

  <head>

    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="keywords" content="ignition, reads, ignitionreads, just4reads, motivational, inspirational">
    <meta name="description" content="On a mission to impart a positive influence on the culture while defending the truth in love and a way that honors God.">
    <meta name="author" content="Victor Shaviya">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font-awesome reference point -->


    <!-- CDN link for Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/indexstyles.css" type="text/css">

    <!-- The Favicon placement point -->
    <link rel="shortcut icon" type="image/png" href="../static/images/favoriticon.png">

    {% if title %}
    <title>
      {{ title }}
    </title>
    {% else %}
    <title>
      Landing Page
    </title>
    {% endif %}

    

  </head>
  <body>
    

    <div class="container">

      <h1>
        IGNITION READS
      </h1>
  
      <h2>
        On a mission to impart a positive influence on the culture <br> while defending the truth in love and <br> a way that honors God.
      </h2>

      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="#">READS</a>
              <a class="nav-link" href="#">MUSINGS</a>
              <a class="nav-link" href="#">GALLERY</a>
              <a class="nav-link" href="#">ABOUT</a>
              <a class="nav-link" href="#">LOGIN</a>
            </div>
          </div>
        </div>
      </nav>

    </div>

    

    <div id="footer">

      <footer>

        <div class="container-fluid bottom">
          <h6>
            Copyright &copy; 2022 || Shaviya. IgnitionReads. || All Rights Reserved. 
          </h6>
        </div>
  
      </footer>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

</html>

